## The points distribution for this case is as follows:
1. Read the dataset in a new python notebook.
2. Drop the columns which are unique for all users like IDs (2.5 points)
3. Distinguish the feature and target set (2.5 points)
4. Divide the data set into Train and test sets
5. Normalize the train and test data (2.5 points)
6. Initialize &amp; build the model (10 points)
7. Optimize the model (5 points)
9. Predict the results using 0.5 as a threshold (5 points)
10. Print the Accuracy score and confusion matrix (2.5 points)

In [4]:
%tensorflow_version 2.x
import tensorflow as tf 
print (tf.__version__)

2.1.0

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# importing neccessary laibraries 
import numpy as np
import pandas as pd 
import tensorflow as tf
import keras

In [0]:
# Reading csv file using pandas 
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/bank.csv")

# New Section

In [9]:
# Checking al coloumns name 
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [10]:
 # distribution of target class can be understood 
df.groupby(df['Exited']).count()

        RowNumber  CustomerId  ...  IsActiveMember  EstimatedSalary
Exited                         ...
0            7963        7963  ...            7963             7963
1            2037        2037  ...            2037             2037

[2 rows x 13 columns]

>- Baised data or we may say unblance data is present

In [11]:
# Checking first five rows of our csv file 
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

>- Concerning about the 'row number' , 'CustomerId' and 'Surname' during Classification of coustomer doesent make sense hence droping them.

In [0]:
# droping Rownumber customer id and surname 
df_drop = df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)

In [13]:
print ('Shape of dataset',df_drop.shape)

Shape of dataset (10000, 11)

In [14]:
df_drop.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [15]:
# understanding data type of all coloumns 
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [18]:
# Checking for Nan values 
df_drop.isna().sum().sum()

0

In [0]:
# Selecting dependtent and independent variable
X = df_drop.drop(columns=['Exited'],axis=1)
y = df_drop['Exited']

In [27]:
# Get dummies
X = pd.get_dummies(X, prefix_sep='_', drop_first=True)
# Get Dummies converts all catagorical columns into one hot encoding 
# Drop first = true automatically drops first columns of converted rows 
X.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 11 columns]

In [28]:
X.shape

(10000, 11)

In [0]:
# converterting catagorical variable into one hot encoding
y = np.array(y)

In [0]:
# Divide the data set into Train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
print ('shape of X_train',X_train.shape)
print ('shape of X_test',X_test.shape)
print ('shape of y_train',y_train.shape)
print ('shape of y_test',y_test.shape)

shape of X_train (8000, 11)
shape of X_test (2000, 11)
shape of y_train (8000,)
shape of y_test (2000,)

>- .Normalize the train and test data (2.5 points)
>- Initialize & build the model (10 points)
>- Optimize the model (5 points)
>- Predict the results using 0.5 as a threshold (5 points)
>- Print the Accuracy score and confusion matrix (2.5 points)

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train  = sc.fit_transform(X_train)
X_test  = sc.transform(X_test)

In [0]:
# Creating Neural Network Model
tf.keras.backend.clear_session()
from tensorflow.keras.layers import LeakyReLU

In [0]:
# Initialize Sequential model
model = tf.keras.models.Sequential() # Instantiating keras sequential models from keras 
# batch Normalization 
model.add(tf.keras.layers.BatchNormalization())

In [0]:
# First layer (input layer) of  
model.add(tf.keras.layers.Dense(11, input_dim=11, activation = 'relu'))

In [0]:
# Hidden layer 1
model.add(tf.keras.layers.Dense(8,activation = 'relu'))
# batch Normalization 
model.add(tf.keras.layers.BatchNormalization())

# Hidden layer 2
model.add(tf.keras.layers.Dense(6,activation = 'relu'))
#model.add(ReLU())
#model.add(tf.keras.layers.Dense(6, kernel_initializer='uniform', activation='relu'))

In [0]:
# Final layer with activation function as softmax and 10 neurons 
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

#activiation: sigmoid becasue we are in an output layer. uses the Sigmoid activation function for  ϕ . 
#This is used instead of the ReLu function becasue it generates probabilities for the outcome.
#We want the probability that each customer leaves the bank.

In [55]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization (BatchNo multiple                  44
_________________________________________________________________
dense (Dense)                multiple                  132
_________________________________________________________________
dense_1 (Dense)              multiple                  96
_________________________________________________________________
batch_normalization_1 (Batch multiple                  32
_________________________________________________________________
dense_2 (Dense)              multiple                  54
_________________________________________________________________
dense_3 (Dense)              multiple                  7
=================================================================
Total params: 365
Trainable params: 327
Non-trainable params: 38
_________________________________________________________________

In [57]:
model.fit(X_train, y_train,           
          validation_data=(X_test,y_test),
          epochs=10,
          batch_size=32)

Train on 8000 samples, validate on 2000 samples
Epoch 1/10
8000/8000 [==============================] - 1s 69us/sample - loss: 0.3410 - accuracy: 0.8593 - val_loss: 0.3289 - val_accuracy: 0.8630
Epoch 2/10
8000/8000 [==============================] - 1s 65us/sample - loss: 0.3365 - accuracy: 0.8590 - val_loss: 0.3296 - val_accuracy: 0.8640
Epoch 3/10
8000/8000 [==============================] - 1s 64us/sample - loss: 0.3370 - accuracy: 0.8602 - val_loss: 0.3277 - val_accuracy: 0.8650
Epoch 4/10
8000/8000 [==============================] - 1s 63us/sample - loss: 0.3400 - accuracy: 0.8584 - val_loss: 0.3296 - val_accuracy: 0.8660
Epoch 5/10
8000/8000 [==============================] - 1s 65us/sample - loss: 0.3384 - accuracy: 0.8618 - val_loss: 0.3288 - val_accuracy: 0.8645
Epoch 6/10
8000/8000 [==============================] - 1s 64us/sample - loss: 0.3378 - accuracy: 0.8620 - val_loss: 0.3279 - val_accuracy: 0.8670
Epoch 7/10
8000/8000 [==============================] - 1s 66us/sample - loss: 0.3396 - accuracy: 0.8587 - val_loss: 0.3277 - val_accuracy: 0.8700
Epoch 8/10
8000/8000 [==============================] - 1s 63us/sample - loss: 0.3370 - accuracy: 0.8618 - val_loss: 0.3302 - val_accuracy: 0.8640
Epoch 9/10
8000/8000 [==============================] - 1s 63us/sample - loss: 0.3417 - accuracy: 0.8553 - val_loss: 0.3307 - val_accuracy: 0.8665
Epoch 10/10
8000/8000 [==============================] - 1s 64us/sample - loss: 0.3383 - accuracy: 0.8608 - val_loss: 0.3315 - val_accuracy: 0.8630

In [59]:
# Predicting 
y_pred = model.predict(X_test)
print(y_pred)

[[0.08000195]
 [0.02344635]
 [0.10922999]
 ...
 [0.71550804]
 [0.23542286]
 [0.31663838]]

**Predict the results using 0.5 as a threshold **bold text**

In [62]:
y_pred = (y_pred >= 0.5)
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [ True]
 [False]
 [False]]

In [0]:
# Ploting Confussion matrix 
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)

In [64]:
print (cm)

[[1539   68]
 [ 206  187]]

In [65]:
print ('Acurracy on test set is : ',accuracy_score(y_test,y_pred))

Acurracy on test set is :  0.863