# StatisticalLearning_Project1

### Read the dataset and store it in the dataframe named Laliga

In [61]:
import numpy as np
import pandas as pd
Laliga = pd.read_csv('Laliga.csv')
Laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [62]:
Laliga.shape

(61, 20)

In [3]:
#Laliga.apply(lambda col: col.dtype, reduce=False)
#Laliga.apply(lambda col: col.dtype('object'))

### Replace dashes with 0

In [63]:
#df= Laliga.replace('-',0, inplace = False)
#df
Laliga.replace('-',0, inplace = True)
Laliga.tail(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

### Create Columns 'DebutNEW' and 'Since/LastAppNEW' with first 4 letters from columns 'Debut' and 'Since/LastApp'

In [64]:
Laliga['DebutNEW'] = Laliga['Debut'].str[:4]
Laliga['Since/LastAppNEW'] = Laliga['Since/LastApp'].str[:4]
Laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,DebutNEW,Since/LastAppNEW
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,1929
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,1929,1929
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1929,2002
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,1987
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,1929,1929

In [65]:
Laliga.dtypes

Pos                  int64
Team                object
Seasons              int64
Points              object
GamesPlayed         object
GamesWon            object
GamesDrawn          object
GamesLost           object
GoalsFor            object
GoalsAgainst        object
Champion            object
Runner-up           object
Third               object
Fourth              object
Fifth               object
Sixth               object
T                   object
Debut               object
Since/LastApp       object
BestPosition         int64
DebutNEW            object
Since/LastAppNEW    object
dtype: object

In [63]:
# *****pd.to_numeric
# df5.columns
# Select required column name
# #COL_NAME = ['Points', 'GamesPlayed', 'GamesWon',
#        'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
#        'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 
#        'BestPosition']
# df5[COL_NAME] = df5[COL_NAME].apply(pd.to_numeric, axis = 1) 
# other method **** pd.to_numeric(df.valueerrors='coerce').fillna(0, downcast='infer') 


# ****astype
# df5.columns
# Select required column name
# COL_NAME = ['Points', 'GamesPlayed', 'GamesWon',
#        'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
#        'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 
#         'BestPosition']
# df5[COL_NAME] = df5[COL_NAME].astype('int') 


# ****astype
# use of ***to_dict
# df5.dtypes.to_dict()
#df5.dtypes.apply(lambda x: x.name).to_dict()
#df5 = df5.astype({"a": int, "b": complex})

### Convert data type of specific columns

In [66]:
Laliga.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition', 'DebutNEW', 'Since/LastAppNEW'],
      dtype='object')

In [67]:
# Select required column name
COL_NAME = ['Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
        'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 
         'BestPosition','DebutNEW', 'Since/LastAppNEW']
Laliga[COL_NAME] = Laliga[COL_NAME].astype('int')

In [68]:
Laliga.dtypes

Pos                  int64
Team                object
Seasons              int64
Points               int32
GamesPlayed          int32
GamesWon             int32
GamesDrawn           int32
GamesLost            int32
GoalsFor             int32
GoalsAgainst         int32
Champion             int32
Runner-up            int32
Third                int32
Fourth               int32
Fifth                int32
Sixth                int32
T                    int32
Debut               object
Since/LastApp       object
BestPosition         int32
DebutNEW             int32
Since/LastAppNEW     int32
dtype: object

###  Teams which have started playing between 1930-1980

In [69]:
Laliga.query('1930 <= DebutNEW <= 1980')

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,DebutNEW,Since/LastAppNEW
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,1987
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,1934,2001
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,1939,2012
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,1932,2015
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,1941,2014
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,1939,2012
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,1948,2013
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,1944,2015
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,1935,2016
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,1949,2008
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,1933,2000
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,1960,2012
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,1951,2015
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,1941,2016
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,1977,2015
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,1959,2014
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,1935,2010
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,1961,2009
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,1940,2007
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930-31,2016-17,6,1930,2016
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,1963,2015
30,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,1974-75,1998-99,7,1974,1998
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,1943,1987
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,1977,2005
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,1941,1990
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,1962,2014
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,1978,2008
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,1971,1979
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,1963,1969
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,1947,2006
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,1945,1950
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,1953,1957
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,1979,1980
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,1950,1993
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,1956,1956
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,1951,1951
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,1955,1955

### Teams which came Top 5 in terms of points

In [70]:
Laliga.sort_values('Points', ascending = False).head()
# df1.nlargest(5, 'Points')

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,DebutNEW,Since/LastAppNEW
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,1929
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,1929,1929
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1929,2002
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,1987
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,1929,1929

In [230]:
#  *code 1* A **** return column values****
# def Goalsdiff(row):
#        return  row['GoalsFor'] - row['GoalsAgainst']
#  Laliga.apply(Goalsdiff, axis=1)

#  *code 1* B **** return column values****
# def func(df):
#      return df['GoalsFor'] - df['GoalsAgainst']        
# df5.apply(func, axis = 1).sort_values(ascending = False).idxmin()

# *code 2*    ***** return index only***
# def Goalsdiff(row):
#         row['GoalsFor'] - row['GoalsAgainst']    
# Laliga.apply(Goalsdiff, axis=1)

# *code 3 *
# fn = lambda row : row['GoalsFor'] - row['GoalsAgainst']          # define a function for the new column
# col = df.apply(fn, axis=1)                                       # get column data with an index
# df = df.assign(c=col.values)                                     # assign values to column 'c'

###  use of function with name â€œGoal_diff_countâ€

In [71]:
Goal_diff_count = lambda row : row['GoalsFor'] - row['GoalsAgainst']
Laliga['GoalsDIFF'] = Laliga.apply(Goal_diff_count, axis=1)
Laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,DebutNEW,Since/LastAppNEW,GoalsDIFF
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,1929,1929,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,1929,1929,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,1929,2002,1225
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1931,1987,929
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,1929,1929,931

In [72]:
#Laliga.sort_values('Goal_diff_count', ascending = False)
Laliga[['Team','GoalsDIFF']].sort_values('GoalsDIFF', ascending = False)

                   Team  GoalsDIFF
0           Real Madrid       2807
1             Barcelona       2786
2       Atletico Madrid       1225
4       Athletic Bilbao        931
3              Valencia        929
5               Sevilla        307
20           Villarreal        103
60               Girona          0
7         Real Sociedad         -2
55              Leganes        -19
57               Condal        -20
43                Eibar        -28
56                Xerez        -28
59     Cultural Leonesa        -31
51           Real Union        -31
53               Europa        -34
58      Atletico Tetuan        -34
45          Real Burgos        -38
38           Compostela        -42
52           AD Almeria        -45
48               Merida        -45
47          Extremadura        -55
41           Pontevedra        -56
50                 Jaen        -62
44               Arenas        -81
35             Albacete        -90
40            Burgos CF        -94
39           Recreativo        -94
42             Numancia        -98
49             Alcoyano       -107
..                  ...        ...
24               Getafe       -113
46            Gimnastic       -114
36              Almeria       -122
26             Tenerife       -125
10  Deportivo La Coruna       -136
37              Cordoba       -145
30            Salamanca       -159
8              Zaragoza       -164
28               Alaves       -165
34            Castellon       -169
18             Mallorca       -189
33             Logrones       -198
29              Levante       -202
31             Sabadell       -228
32                Cadiz       -269
23                Elche       -272
6              Espanyol       -280
17               Oviedo       -309
22       Rayo Vallecano       -328
9            Real Betis       -333
25             Hercules       -334
15              Osasuna       -334
21              Granada       -338
16               Malaga       -342
11           Celta Vigo       -346
27               Murcia       -385
19           Las Palmas       -399
14       Sporting Gijon       -399
12           Valladolid       -413
13     Racing Santander       -525

[61 rows x 2 columns]

In [15]:
# Code 1 ****
#df.Points == df.Points.max()
# mask = Laliga.Goal_diff_count == Laliga.Goal_diff_count.max()
# Laliga['Team'][mask]

### Team for max goal diff

In [73]:
rowindex_max = Laliga['GoalsDIFF'].idxmax()
Laliga.iloc[rowindex_max,1]

'Real Madrid'

### Team for min goal diff

In [74]:
rowindex_min = Laliga['GoalsDIFF'].idxmin()
Laliga.loc[rowindex_min,'Team']

'Racing Santander'

### new column with name â€œWinning Percent

In [75]:
Laliga['Winning Percent'] = (Laliga['GamesWon'] / Laliga['GamesPlayed'])*100
Laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,DebutNEW,Since/LastAppNEW,GoalsDIFF,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,3,4,79,1929,1929,1,1929,1929,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,4,6,83,1929,1929,1,1929,1929,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,7,6,56,1929,2002-03,1,1929,2002,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,7,50,1931-32,1987-88,1,1931,1987,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,8,10,49,1929,1929,1,1929,1929,931,43.772629

In [76]:
Laliga.isnull().sum()

Pos                 0
Team                0
Seasons             0
Points              0
GamesPlayed         0
GamesWon            0
GamesDrawn          0
GamesLost           0
GoalsFor            0
GoalsAgainst        0
Champion            0
Runner-up           0
Third               0
Fourth              0
Fifth               0
Sixth               0
T                   0
Debut               0
Since/LastApp       0
BestPosition        0
DebutNEW            0
Since/LastAppNEW    0
GoalsDIFF           0
Winning Percent     1
dtype: int64

### Replace null  with 0

In [77]:
Laliga['Winning Percent'].fillna(0, inplace=True)
Laliga['Winning Percent'].isnull().sum()

0

### top 5 teams which has the highest Winning percentage

In [78]:
# Laliga[['Team','GamesWon','GamesPlayed','Winning Percent']].sort_values('Winning Percent', ascending=False).nlargest(10, 'Winning Percent')
Laliga[['Team','GamesWon','GamesPlayed','Winning Percent']].sort_values('Winning Percent', ascending=False).head(5)

              Team  GamesWon  GamesPlayed  Winning Percent
0      Real Madrid      1647         2762        59.630702
1        Barcelona      1581         2762        57.241130
2  Atletico Madrid      1241         2614        47.475134
3         Valencia      1187         2664        44.557057
4  Athletic Bilbao      1209         2762        43.772629

In [79]:
Laliga[['BestPosition', 'Team','Points']]

    BestPosition                 Team  Points
0              1          Real Madrid    4385
1              1            Barcelona    4262
2              1      Atletico Madrid    3442
3              1             Valencia    3386
4              1      Athletic Bilbao    3368
5              1              Sevilla    2819
6              3             Espanyol    2792
7              1        Real Sociedad    2573
8              2             Zaragoza    2109
9              1           Real Betis    1884
10             1  Deportivo La Coruna    1814
11             4           Celta Vigo    1789
12             4           Valladolid    1471
13             2     Racing Santander    1416
14             2       Sporting Gijon    1389
15             4              Osasuna    1351
16             4               Malaga    1314
17             3               Oviedo    1174
18             3             Mallorca    1148
19             2           Las Palmas    1020
20             2           Villarreal     970
21             6              Granada     667
22             8       Rayo Vallecano     662
23             5                Elche     606
24             6               Getafe     553
25             5             Hercules     538
26             5             Tenerife     510
27            11               Murcia     445
28             6               Alaves     421
29             6              Levante     416
..           ...                  ...     ...
31             4             Sabadell     353
32            12                Cadiz     343
33             7             Logrones     293
34             4            Castellon     285
35             7             Albacete     277
36             8              Almeria     242
37             5              Cordoba     230
38            10           Compostela     190
39             8           Recreativo     188
40            12            Burgos CF     168
41             7           Pontevedra     150
42            17             Numancia     148
43            10                Eibar     132
44             3               Arenas     107
45             9          Real Burgos      96
46             7            Gimnastic      91
47            17          Extremadura      83
48            19               Merida      81
49            10             Alcoyano      76
50            14                 Jaen      71
51             6           Real Union      56
52            10           AD Almeria      52
53             8               Europa      42
54            16               Lleida      40
55            17              Leganes      35
56            20                Xerez      34
57            16               Condal      22
58            16      Atletico Tetuan      19
59            15     Cultural Leonesa      14
60             9               Girona       0

[61 rows x 3 columns]

### Group teams based on their â€œBest positionâ€ and print the sum of their points

In [80]:
# df.groupby(['Fruit','Name'])['Number'].sum()
Laliga.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32

### Group teams (use of pivot table)

In [81]:
#Laliga.pivot_table(index= ['BestPosition','Team'], values= 'Points', aggfunc = sum)
pd.pivot_table(Laliga, index= ['BestPosition','Team'], values="Points", aggfunc = sum)

                                  Points
BestPosition Team
1            Athletic Bilbao        3368
             Atletico Madrid        3442
             Barcelona              4262
             Deportivo La Coruna    1814
             Real Betis             1884
             Real Madrid            4385
             Real Sociedad          2573
             Sevilla                2819
             Valencia               3386
2            Las Palmas             1020
             Racing Santander       1416
             Sporting Gijon         1389
             Villarreal              970
             Zaragoza               2109
3            Arenas                  107
             Espanyol               2792
             Mallorca               1148
             Oviedo                 1174
4            Castellon               285
             Celta Vigo             1789
             Malaga                 1314
             Osasuna                1351
             Sabadell                353
             Valladolid             1471
5            Cordoba                 230
             Elche                   606
             Hercules                538
             Tenerife                510
6            Alaves                  421
             Getafe                  553
...                                  ...
             Levante                 416
             Real Union               56
7            Albacete                277
             Gimnastic                91
             Logrones                293
             Pontevedra              150
             Salamanca               375
8            Almeria                 242
             Europa                   42
             Rayo Vallecano          662
             Recreativo              188
9            Girona                    0
             Real Burgos              96
10           AD Almeria               52
             Alcoyano                 76
             Compostela              190
             Eibar                   132
11           Murcia                  445
12           Burgos CF               168
             Cadiz                   343
14           Jaen                     71
15           Cultural Leonesa         14
16           Atletico Tetuan          19
             Condal                   22
             Lleida                   40
17           Extremadura              83
             Leganes                  35
             Numancia                148
19           Merida                   81
20           Xerez                    34

[61 rows x 1 columns]

In [82]:
pwd

'D:\\test lab'